 @import "../blocks/header/header"
 @import "../blocks/main/main"
 @import "../blocks/main/home/home"
 @import "../blocks/main/home/platforms/platforms"
 @import "../blocks/main/features/features"
 @import "../blocks/main/features/feature-item/feature-item"
 @import "../blocks/main/information/information"
 @import "../blocks/main/reviews/reviews"
 @import "../blocks/main/reviews/review-item/review-item"
 @import "../blocks/main/prices/prices"
 @import "../blocks/main/prices/price-item/price-item"
 @import "../blocks/main/contact/contact"
 @import "../blocks/footer/footer"
 @import "../blocks/footer/social-media/social-media"
 @import "../blocks/footer/copyright/copyright"
 @import "../blocks/logo/logo"
 @import "../blocks/menu/menu"
 @import "../blocks/button/button"
 @import "../blocks/text/text"
 @import "../blocks/title-hidden/title-hidden"
