@import "../blocks/header/header"
@import "../blocks/main-index/main-index"
@import "../blocks/main-index/home/home"
@import "../blocks/main-index/home/platforms/platforms"
@import "../blocks/main-index/features/features"
@import "../blocks/main-index/features/feature-item/feature-item"
@import "../blocks/main-index/information/information"
@import "../blocks/main-index/reviews/reviews"
@import "../blocks/main-index/reviews/review-item/review-item"
@import "../blocks/main-index/prices/prices"
@import "../blocks/main-index/prices/price-item/price-item"
@import "../blocks/main-index/contact/contact"
@import "../blocks/footer/footer"
@import "../blocks/footer/social-media/social-media"
@import "../blocks/footer/copyright/copyright"
@import "../blocks/logo/logo"
@import "../blocks/menu/menu"
@import "../blocks/button/button"
@import "../blocks/text/text"
@import "../blocks/title-hidden/title-hidden"

@import "../blocks/about/about"
@import "../blocks/main-gallery/main-gallery"
@import "../blocks/main-gallery/photo/photo"
@import "../blocks/main-gallery/photo/day-photo/day-photo"
@import "../blocks/main-gallery/photo/photo-item/photo-item"
@import "../blocks/main-gallery/upload/upload"

@import "../blocks/main-form/main-form"
@import "../blocks/main-form/forms/forms"

@import "../blocks/input/input"
@import "../blocks/label/label"
@import "../blocks/main-form/main-form"
@import "../blocks/main-form/forms/forms"
@import "../blocks/main-form/forms/form-about/form-about"
@import "../blocks/main-form/forms/form-app/form-app"
@import "../blocks/main-form/forms/form-contact/form-contact"
@import "../blocks/main-form/forms/form-achieve/form-achieve"
@import "../blocks/main-form/forms/form-emotion/form-emotion"

@import "../blocks/container/container"

@import "../blocks/slogan/slogan"


@import "../blocks/link/link"
