 @import "../blocks/header/header"
 @import "../blocks/index/index"
 @import "../blocks/index/home/home"
 @import "../blocks/index/home/platforms/platforms"
 @import "../blocks/index/features/features"
 @import "../blocks/index/features/feature-item/feature-item"
 @import "../blocks/index/information/information"
 @import "../blocks/index/reviews/reviews"
 @import "../blocks/index/reviews/review-item/review-item"
 @import "../blocks/index/prices/prices"
 @import "../blocks/index/prices/price-item/price-item"
 @import "../blocks/index/contact/contact"
 @import "../blocks/footer/footer"
 @import "../blocks/footer/social-media/social-media"
 @import "../blocks/footer/copyright/copyright"
 @import "../blocks/logo/logo"
 @import "../blocks/menu/menu"
 @import "../blocks/button/button"
 @import "../blocks/text/text"
 @import "../blocks/title-hidden/title-hidden"
