ff-main = 'OpenSans'

color-white = #ffffff
color-black = #000000
color-gray = #e5e5e5
color-darkgray = #b5b9be
color-lightgray = #f2f2f2

color-pink = #d22856
color-green = #00ffa8
color-darkgreen = #2aab6d
color-darkblue = #283645

fw-light = 300
fw-regular = 400
fw-medium = 500
fw-semibold = 600
fw-bold = 700
fw-extrabold = 800
fw-black = 900

overlay-use = false
circle-switcher-use = true