.features 	

	base-markup(7rem, 7rem)

	background linear-gradient(177deg, color-white 40%, color-lightgray 40%);

	&__question	
		max-width 82rem

		color color-darkblue

		text-align center
		font-size 5rem
		font-weight fw-light

	&__wrap
		display flex
		position relative

	&__feature-item
		margin-bottom 1.5rem 

	@media (max-width 660px)
		padding-bottom 0

		&__question
			font-size 4rem
			padding-bottom 13rem

		&__wrap
			flex-direction column

	@media (max-width 320px)
		background linear-gradient(177deg, color-white 24%, color-lightgray 24%);
		padding-bottom 26rem
		overflow hidden
		
		&__question
			font-size 2.4rem
			padding 0 3rem
			padding-bottom 10rem
