.features 	

	base-markup(7rem, 7rem)

	background: linear-gradient(177deg, color-white 40%, color-lightgray 40%);

	&__question	
		max-width 82rem

		color color-darkblue

		text-align center
		font-size 5rem
		font-weight fw-light

	&__wrap
		display flex

	&__feature-item
		margin-bottom 2.5rem 