mixin features()
	section.features
		.container
			h2.title-hidden Особенности
			.features__question.main-index__features Устали от серости мегаполиса? Нам есть, что вам предложить!
			.features__wrap
				+feature-item(1,'Поднимает настроение','Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!')
				+feature-item(2,'Меняет мир вокруг','Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект')
				+feature-item(3,'Заводит новых друзей','Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых')