.about 	
	base-markup(18rem,10rem, ,'../assets/images/background.jpg')

	color color-white

	&__slogan
		// max-width 40rem
		margin 0 auto
		
		font-size 5rem
		font-weight fw-light
		text-align center

		line-height 1
		