.upload 	
	display block

	&__description
		margin 0 auto
		padding 6.5rem 0

		text-align center

	&__widget
		display flex
		padding 6rem
		padding-left 8rem

		background-color color-lightgray

	&__wrap
		height 40rem
		overflow hidden

	&__form
		padding-left 9rem

		display flex
		flex-direction column 

	&__slider
		padding 4rem 0
		
		padding-left 9rem
		padding-right 3rem

		background-repeat no-repeat
		background-position 0

		border-bottom 0.1rem solid rgba(color-darkblue, 10%)

		&_crop
			background-image url('../assets/images/crop.svg')
		&_fill
			background-image url('../assets/images/fill.svg')
		&_contrast
			background-image url('../assets/images/contrast.svg')
			background-position 3%

	&__input
		display block
		width 29rem


		-webkit-appearance none
		height 0.2rem
		background-color color-darkblue

		&::-webkit-slider-thumb 
			-webkit-appearance none
			appearance none
			width 1.4rem
			height @width

			border 0.2rem solid color-pink
			border-radius 50%

			cursor pointer
			background-color color-lightgray
		
			&:active
				background-color color-pink

	&__setting
		flex 1 0 auto

	&__button-bar
		display flex
		justify-content space-between

	@media (max-width 660px)
		&__widget
			padding-left 2rem
			padding-right 3.5rem

		&__slider
			background-size 3rem

			padding-left 4rem
			padding-right 2rem

			&_contrast
				background-size 2rem

		&__form
			padding-left 4.5rem

		&__input
			width 20rem

		&__button-bar
			flex-direction column