.slogan 	
	display block

	max-width 30rem
	
	font-size 5rem
	font-weight fw-light
	line-height 1.25

	text-align center

	@media (max-width 660px)
		font-size 4rem
		max-width 20rem
		
		margin-left 4.5rem