.form-about 	
	display flex
	align-items center

	padding-bottom 5.5rem
	padding-right 3rem

	&:last-child
		padding-bottom 0

	&__label
		color color-pink
		text-transform uppercase
	&__input
		border 0.2rem solid color-gray


		
