mixin photo()
	section.photo
		.container
			h2.title-hidden Фотографии
			p.photo__description Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?
		+day-photo()
		.container
			+photo-item('','Левон','(5 часов назад)', 'Вчера он на луну летал, сегодня в руки к нам попал.', 'Нравится: 356')
			+photo-item('','Антон','(12 часов назад)','Соседи будут рады!','Нравится: 666')
			+photo-item('','Борис','(20 часов назад)','Здесь могла быть ваша цитата о высоком и вечном.', 'Нравится: 215')
			+photo-item('','Сергей','(25 часов назад)','Самая кубанская в мире!', 'Нравится: 4')
			+photo-item('','Максим','(40 часов назад)','Где снег-то?', 'Нравится: 150')
			+photo-item('','Надежда','(45 часов назад)','Всем GM и взаимные лайки!', 'Нравится: 2560')
