.photo 	
	&__description
		padding 9rem 15.5rem
		text-align center

	&__wrap
		display flex
		flex-wrap wrap
		justify-content space-between

	@media (max-width 660px)
		&__description
			padding 9rem 11rem
