.button 	
	padding 1rem 3rem 
	
	color color-white
	font-size 2.1rem
	font-weight fw-bold
	
	border 0.3rem solid color-white
	border-radius 5rem

	&:hover
		color color-pink
		background-color color-white
	
	&:active
		color rgba(color-pink,30%)
		background-color color-white

	&_theme_upload
		border-color color-pink
		color color-pink

		&:hover
			color color-white
			background-color color-pink
		&:active
			color rgba(color-white,30%)
			background-color color-pink
		
	&_theme_cancel
		border-color rgba(color-darkgray,10%)
		color rgba(color-darkgray,10%)

		&:hover
			border-color color-darkgray
			background-color color-lightgray
			color color-darkgray
		&:active
			color rgba(color-white,30%)
			background-color color-darkgray

	&_theme_form
		background-color color-darkgreen
		border-radius 0.5rem
		padding 2rem 5.5rem
		font-size 1.8rem
		text-transform uppercase

		&:hover
			color color-white
			background-color darken(color-darkgreen, 10%)
		&:active
			color rgba(color-white,30%)
		&:disabled
			background-color color-gray