button 	
	padding 1rem 3rem 
	
	color color-white
	font-size 2.1rem
	font-weight fw-bold
	
	border 0.3rem solid color-white
	border-radius 5rem

	&:hover
		color color-pink
		background-color color-white
	
	&:active
		color rgba(color-pink,30%)
		background-color color-white
		