mixin platforms()
	article.platforms
		a.platforms__link.platforms__link_apple Apple
		a.platforms__link.platforms__link_android Android
		a.platforms__link.platforms__link_windows Windows
		p.platformws__description Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
