mixin platforms()
	article.platforms
		.platforms__wrap.home__platforms
			a.platforms__link.platforms__link_apple(href="#") Apple
			a.platforms__link.platforms__link_android(href="#") Android
			a.platforms__link.platforms__link_windows(href="#") Windows
		.platforms__description Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
