.form-achieve 	
	color color-darkblue
	font-size 1.8rem

	padding-bottom 4.4rem

	&:last-child
		padding-bottom 1.4rem

	&__input
		display none

		&:checked + ^[0]__label
			background-repeat no-repeat
			background-position center
			background-image url('../assets/images/check.svg')

	&__label
		position relative
		top 1.4rem
		margin-right 2rem
		
		display inline-block
		width 4rem
		height @width

		background-color transparent
		border 0.2rem solid color-gray

		&:hover
			border-color color-darkblue
		&:active
			border-color color-pink


		

