mixin contact()
	section.contact
		h2.title-hidden Контакты
		.contact__question Остались вопросы? Свяжитесь с нами!
		.contact__wrap
			.contact__item
				h3.contact__title Звоните:
				p.contanct__info +7 (812) 555-66-66
			.contact__item
				h3.contact__title Приезжайте в гости:
				p.contanct__info ул. Большая Конюшенная, 19/8
			.contact__item
				h3.contact__title Пишите:
				p.contanct__info mail@htmlacademy.ru 
		.contact__map
			iframe.contact__iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d999.3043297939217!2d30.322047966189803!3d59.938635638456034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1506540604288", width="320", height="200", allowfullscreen, frameborder="0")