mixin social-media()
	.social-media(class='ml-auto')
		.social-media__text
			a.social-media__link.social-media__link_twitter(href="#")
			a.social-media__link.social-media__link_facebook(href="#")
			a.social-media__link.social-media__link_youtube(href="#")
