.social-media 	
	display block

	&__link
		margin 0 0.6rem
		display inline-block

		width 5rem
		height @width

		border 0.3rem solid #e9ebec
		border-radius 50%

		background-repeat no-repeat
		background-position center

		&_twitter
			background-image url('../assets/images/footer/twitter.svg')
		&_facebook
			background-image url('../assets/images/footer/facebook.svg')
		&_youtube
			background-image url('../assets/images/footer/youtube.svg')
				