extends common.pug

block title
    title Pink - Конкурс

block header
    +header()
    
block main
    main.main-form
        +about('Конкурс на самое безбашенное путешествие с Пинк')
        .forms
            .container
                h2.title-hidden Форма заполнения
                p.forms__description Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! Пожалуйста, заполните форму ниже:
                form.forms__wrap
                    fieldset.form-item.form-item_dir_row
                        legend.form-item__title Информация о конкурсанте 
                        .form-item__field
                            label.form-item__label(for="last-name") Фамилия
                            input.form-item__input.form-item__input_text(type="text", id="last-name" placeholder="Укажите фамилию *")
                        .form-item__field
                            label.form-item__label(for="first-name") Имя
                            input.form-item__input.form-item__input_text(type="text", id="first-name" placeholder="Введите ваше имя *")
                        .form-item__field
                            label.form-item__label(for="patronymic") Отчество
                            input.form-item__input.form-item__input_text(type="text", id="patronymic" placeholder="Ну и отчество тоже") 
                    fieldset.form-item.form-item_dir_row
                        legend.form-item__title С какими приложениями путешествовали
                        .form-item__field
                            input.form-item__input.form-item__input_radio(type="radio", name="app", id="ios")
                            label.form-item__label(for="ios") Pink для iOS
                        .form-item__field
                            input.form-item__input.form-item__input_radio(type="radio", name="app", id="android")
                            label.form-item__label(for="android") Pink для Android
                        .form-item__field
                            input.form-item__input.form-item__input_radio(type="radio", name="app", id="windows")                             
                            label.form-item__label(for="windows") Windows Phone
                    fieldset.form-item.form-item_dir_column
                        legend.form-item__title Контактная информация
                        .form-item__field
                            input.form-item__input.form-item__input_text(type="text", id="phone" placeholder="Номер, пожалуйста")
                            input.form-item__input.form-item__input_button(type="button" value="phone")
                            label.form-item__label(for="phone") Номер телефона
                        .form-item__field
                            input.form-item__input.form-item__input_text(type="text", id="email" placeholder="Введите почту *")
                            input.form-item__input.form-item__input_button(type="button" value="email")
                            label.form-item__label(for="email") Адрес почты
                    fieldset.form-item.form-item_dir_row
                        legend.form-item__title Ваши безбашенные достижения в путешествии
                        .form-item__field
                            input.form-item__input.form-item__input_radio(type="checkbox", name="achive", id="shark")
                            label.form-item__label(for="shark") Сделал селфи с акулой
                        .form-item__field
                            input.form-item__input.form-item__input_radio(type="checkbox", name="achive", id="chuck")
                            label.form-item__label(for="chuck") Видел Чака Норрсиа
                        .form-item__field
                            input.form-item__input.form-item__input_radio(type="checkbox", name="achive", id="tower")
                            label.form-item__label(for="tower") Удержал башню
                        .form-item__field
                            input.form-item__input.form-item__input_radio(type="checkbox", name="achive", id="beach")
                            label.form-item__label(for="beach") Обгорел на пляже
                        .form-item__field
                            input.form-item__input.form-item__input_radio(type="checkbox", name="achive", id="souvenirs")
                            label.form-item__label(for="souvenirs") Накупил сувениров
                        .form-item__field
                            input.form-item__input.form-item__input_radio(type="checkbox", name="achive", id="hotel")
                            label.form-item__label(for="hotel") Разгромил отель
                    fieldset.form-item.form-item_dir_row
                        legend.form-item__title Опишите ваши эмоции
                        .form-item__field
                            textarea.form-item__input.form-item__input_textarea(placeholder="Можно прям в красках, не стесняясь в выражениях")
                    button.button.button_theme_form Отправить форму
                    span.forms__note 
                        span.forms__star * 
                        | — обязательные для заполнения поля
