mixin importBlocks()
 include ../blocks/header/header
 include ../blocks/main/main
 include ../blocks/main/home/home
 include ../blocks/main/home/platforms/platforms
 include ../blocks/main/features/features
 include ../blocks/main/features/feature-item/feature-item
 include ../blocks/main/information/information
 include ../blocks/main/reviews/reviews
 include ../blocks/main/reviews/review-item/review-item
 include ../blocks/main/prices/prices
 include ../blocks/main/contact/contact
 include ../blocks/footer/footer
 include ../blocks/footer/social-media/social-media
 include ../blocks/footer/copyright/copyright
 include ../blocks/logo/logo
 include ../blocks/menu/menu
 include ../blocks/button/button
 include ../blocks/text/text
 include ../blocks/title-hidden/title-hidden
