include ../blocks/header/header
include ../blocks/index/index
include ../blocks/index/home/home
include ../blocks/index/home/platforms/platforms
include ../blocks/index/features/features
include ../blocks/index/features/feature-item/feature-item
include ../blocks/index/information/information
include ../blocks/index/reviews/reviews
include ../blocks/index/reviews/review-item/review-item
include ../blocks/index/prices/prices
include ../blocks/index/prices/price-item/price-item
include ../blocks/index/contact/contact
include ../blocks/footer/footer
include ../blocks/footer/social-media/social-media
include ../blocks/footer/copyright/copyright
include ../blocks/logo/logo
include ../blocks/menu/menu
include ../blocks/button/button
include ../blocks/text/text
include ../blocks/title-hidden/title-hidden
