//- include import.pug
//- +importBlocks()

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Pink
    body
        header.header()
            .logo
                .logo__wrap
                    a.logo__link(href="index.html")
                        img.logo__img(src=require('../assets/images/logo.png'))
            nav.menu
                ul.menu__list(class='d-flex justify-content-around')
                    li.menu__item
                        a.link.menu__link(href='#') Главная
                    li.menu__item
                        a.link.menu__link(href='#') Фотографии
                    li.menu__item
                        a.link.menu__link(href='#') Конкурс
                    li.menu__item
                        a.link.menu__link(href='#') HTML Academy
        main.main
            section.home
                h1.slogan Взгляните на жизнь иначе
                button.button.button_theme_rounded Скачать приложение
                article.platforms
                    a.platforms__link.platforms__link_apple Apple
                    a.platforms__link.platforms__link_android Android
                    a.platforms__link.platforms__link_windows Windows
                    p.platformws__description Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
            section.features
                h2.title-hidden Особенности
                .features__question Устали от серости мегаполиса? Нам есть, что вам предложить!
                .feature-item
                    img.feature-item__img(src="", alt="", srcset="")/ img
                    h3.fetature-item__title Поднимает настроение
                    p.text.fetature-item__description Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
                .feature-item
                    img.feature-item__img(src="", alt="", srcset="")/ img
                    h3.fetature-item__title Меняет мир вокруг
                    p.text.fetature-item__description Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
                .feature-item
                    img.feature-item__img(src="", alt="", srcset="")/ img
                    h3.fetature-item__title Заводит новых друзей
                    p.text.fetature-item__description Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
            section.information
                h2.title-hidden Информация
                figure.information__timer
                    img.information__img(src="", alt="")/ img
                article.information__wrap
                    h3.information__title Эффект на 24 часа!
                    p.text.information__description Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
                    a.link.information__link(href="#") Узнать больше об исследовании
            section.reviews
                h2.title-hidden Отзывы
                button.button.reviews__button.reviews__button_prev prev
                blockquote.review-item
                    p.text.review-item__text Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!
                    cite.review-item__author Николай Петров
                        span.review-item__about 25 лет, водитель трамвая
                button.button.reviews__button.reviews__button_next next
            section.prices
                h2.title-hidden Тарифы
                .price__wrap
                    .price__item
                        .price__head
                            h4.price__title База
                            .price__cost 1,99 USD
                        ul.price__options
                            li.price__item
                                span.price__parameter Розовый фильтр
                                span.price__include.price__include_yes Да
                            li.price__item
                                span.price__parameter Смайлики
                                span.price__include.price__include_no Нет
                            li.price__item 
                                span.price__parameter Комментарии
                                span.price__include.price__include_no Нет
                    .price__item
                        .price__head
                            h4.price__title Стандарт
                            .price__cost 3,99 USD
                        ul.price__options
                            li.price__item
                                span.price__parameter Розовый фильтр
                                span.price__include.price__include_yes Да
                            li.price__item
                                span.price__parameter Смайлики
                                span.price__include.price__include_yes Да
                            li.price__item 
                                span.price__parameter Комментарии
                                span.price__include.price__include_no Нет
                    .price__item
                        .price__head
                            h4.price__title Анлим
                            .price__cost 9,99 USD
                        ul.price__options
                            li.price__item
                                span.price__parameter Розовый фильтр
                                span.price__include.price__include_yes Да
                            li.price__item
                                span.price__parameter Смайлики
                                span.price__include.price__include_yes Да
                            li.price__item 
                                span.price__parameter Комментарии
                                span.price__include.price__include_yes Да
            section.contact
                h2.title-hidden Контакты
                .contact__question Остались вопросы? Свяжитесь с нами!
                .contact__wrap
                    .contact__item
                        h3.contact__title Звоните:
                        p.contanct__info +7 (812) 555-66-66
                    .contact__item
                        h3.contact__title Приезжайте в гости:
                        p.contanct__info ул. Большая Конюшенная, 19/8
                    .contact__item
                        h3.contact__title Пишите:
                        p.contanct__info mail@htmlacademy.ru 
                .contact__map
                    iframe.contact__iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d999.3043297939217!2d30.322047966189803!3d59.938635638456034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1506540604288", width="320", height="200", allowfullscreen, frameborder="0")
        footer.footer
            .logo
                .logo__wrap
                    img.logo__img(src=require('../assets/images/logo.png'))
            .social-media(class='ml-auto')
                .social-media__text
                    a.social-media__link.social-media__link_twitter(href="#")
                    a.social-media__link.social-media__link_facebook(href="#")
                    a.social-media__link.social-media__link_youtube(href="#")
            .copyright
                .copyright__text Разработано
                    img.copyright__img(src="", alt="")/ img
    