base-markup(pt = 0, pb = 0, bcolor =  #fff, bpath = '')
    padding-top  pt
    padding-bottom  pb

    background-color  bcolor

    if  bpath != ''
        background-image url(bpath)
        background-size cover

    position relative
    height 100%

reset()
    padding 0
    margin 0

use-of-classes()
    if overlay-use
        .overlay
            background-color #111111
            position absolute
            height 100%
            width 100%
            top 0
            opacity 0.7

    if circle-switcher-use
        .circle-switcher
            display: flex;
            align-items: center;
            justify-content: center;

            a
                display block
                margin 0 0.8rem
            
                width 0.6rem
                height @width

                background-color rgba(color-darkblue, 30%)
                border-radius 50%

                // opacity 0.5

                &.selected
                    width 1.2rem
                    height @width

                    border 0.3rem solid color-darkblue
                    background-color transparent
