mixin menu()
	nav.menu
		ul.menu__list(class='d-flex justify-content-around')
			li.menu__item
				a.link.menu__link(href='index.html') Главная
			li.menu__item
				a.link.menu__link(href='gallery.html') Фотографии
			li.menu__item
				a.link.menu__link(href='#') Конкурс
			li.menu__item
				a.link.menu__link(href='https://htmlacademy.ru/' target='__blank') HTML Academy

