mixin day-photo()
	figure.day-photo
		.day-photo__wrap
			img.day-photo__img(src=require("../assets/images/gallery/image_0.jpg"), alt="")
			.container.container__absolute.day-photo__container
				span.day-photo__tag Панорама дня
		.container
			figcaption.day-photo__caption
				.day-photo__info
					span.day-photo__author Анна
					span.day-photo__time (5 минут назад)
					span.day-photo__like Нравится: 215
				p.day-photo__text Прыгать или нет? Напишите в коментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!