mixin forms()
	.forms
		.container
			h2.title-hidden Форма заполнения
			p.text.forms__description Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! Пожалуйста, заполните форму ниже:
			form.forms__wrap
				fieldset.forms__item.forms__item_dir_row.forms__item_hidden.forms__item_no-pad
					legend.forms__title.forms__title_hidden Информация о конкурсанте 
					+form-about('last-name','Фамилия:','Укажите фамилию *')
					+form-about('first-name','Имя:','Введите ваше имя *')
					+form-about('patronymic','Отчество:','Ну и отчество тоже')
				fieldset.forms__item.forms__item_dir_row
					legend.forms__title С какими приложениями путешествовали
					+form-app('ios','Pink для iOS')
					+form-app('android','Pink для Android')
					+form-app('windows','Windows Phone')
				fieldset.forms__item.forms__item_dir_column
					legend.forms__title.forms__title_contact Контактная информация
					+form-contact('phone','Номер телефона','Номер, пожалуйста')
					+form-contact('email','Адрес почты','Введите почту *')
				fieldset.forms__item.forms__item_dir_column
					legend.forms__title Ваши безбашенные достижения в путешествии
					.forms__col
						+form-achieve('shark','achieve','Сделал селфи с акулой')
						+form-achieve('beach','achieve','Обгорел на пляже')
					.forms__col
						+form-achieve('chuck','achieve','Видел Чака Норриса')
						+form-achieve('souvenirs','achieve','Накупил сувениров')
					.forms__col
						+form-achieve('tower','achieve','Удержал башню')
						+form-achieve('hotel','achieve','Разгромил отель')
				fieldset.forms__item.forms__item_dir_column
					legend.forms__title Опишите ваши эмоции
					+form-emotion('Можно прям в красках, не стесняясь в выражениях')
				button.button.button_theme_form Отправить форму
				span.forms__note 
					span.forms__star * 
					| — обязательные поля