.forms 	
	&__description
		margin 0 auto
		padding 7.5rem
		padding-top 9.6rem
		padding-bottom 6.8rem

		text-align center

	&__wrap
		display flex
		flex-wrap wrap

	&__item
		border-style solid
		border-color color-gray

		padding-top 3.5rem
		padding-bottom 3.5rem

		&_hidden
			border-color transparent

		&_no-pad
			padding 0
			padding-top 0.8rem

		&_dir_row
			width 46.5rem

		&_dir_column
			width 94rem

	&__title
		width auto
		margin 0 auto

		color color-pink
		text-transform uppercase
		padding 0 2.5rem 

		&_hidden
			display none