.forms 	
	&__description
		margin 0 auto
		padding 7.5rem
		padding-top 9.6rem
		padding-bottom 6.8rem

		text-align center

	&__wrap
		display flex
		flex-wrap wrap
		justify-content space-between
		align-items center

	&__item
		border-style solid
		border-color color-gray

		padding-top 3.5rem
		padding-bottom 3.5rem

		margin-bottom 6.5rem

		&_hidden
			border-color transparent

		&_no-pad
			padding 0
			padding-top 0.8rem

		&_dir_row
			width 46.5rem

		&_dir_column
			width 94rem

	&__title
		width auto
		margin 0 auto

		color color-pink
		text-transform uppercase
		padding 0 2.5rem 

		&_hidden
			display none

	&__col
		padding-left 4.4rem
		width 33.3333%
		float left

	&__note
		color color-darkblue
		text-transform uppercase

	&__star
		color color-pink

	@media (max-width 660px)
		&__item
			&_dir_row
			&_dir_column
				width 100%

		&__col
			width 100%
			float none

	@media (max-width 320px)
		&__wrap
			justify-content center
		
		&__description
			padding-left 2.4rem
			padding-right 2.4rem

		&__title
			text-align center		
			position relative
			top 4.5rem

			&_contact
				display none

		&__item
			border none
			padding-top 7rem
			margin-bottom 0
			
			&:nth-child(even)
				background-color color-lightgray
			
		&__col
			padding-left 0

		&__note
			display inline-block
			margin 3.5rem 0