.input 	
    display inline-block
    
    padding 2.25rem 2rem
    margin-left 2rem
    
    flex 1
    
    font-size 1.8rem

    &::placeholder
        font-size 1.8rem
        color color-darkblue