mixin feature-item(img, title, description)
	.feature-item
		img.feature-item__img(src="#{img}", alt="", srcset="")/ img
		h3.fetature-item__title #{title}
		p.text.fetature-item__description #{description}
