mixin feature-item(img, title, description)
	.feature-item
		figure.feature-item__fig
			img.feature-item__img(src=require('../assets/images/features/image_'+img+'.png'), alt="", srcset="")/
		h3.feature-item__title.features__feature-item #{title}
		p.text.feature-item__description #{description}
